/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/logs
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/views
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
.scribe
modules_statuses.json